---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import Phone from "../components/Phone.astro";
import Email from "../components/Email.astro";
import Facebook from "../components/Facebook.astro";

export interface PageResponse {
  _id: string;
  title: string;
  description: string;
  keywords: string[];
  author: string;
  ogImage: {
    asset: {
      url: string;
    };
  };
  name: string;
}

const query = `*[_type == "pages" && name == "kontakty"][0]{
  _id,
  title,
  description,
  keywords,
  author,
  name,
  ogImage {
    asset-> {
      url
    }
  }
}`;

const response = await sanityClient.fetch<PageResponse>(query);

if (!response) {
  throw new Error("Home page not found in Sanity");
}

const {
  title = "Default Title",
  description = "Default Description",
  keywords = [],
  author = "Default Author",
  name = "Default Name",
  ogImage,
} = response || {};
---

<Layout
  title={title}
  description={description}
  keywords={keywords.join(", ")}
  author={author}
  ogImage={ogImage?.asset?.url}
>
 <div class="container  my-[2rem]  lg:my-[4rem] box">    
    <div class="mx-auto p-6 w-full bg-white shadow-lg rounded-lg">
        <div class="flex flex-col items-center text-center">
          <img src="https://res.cloudinary.com/dijj9tdzd/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1740132396/Anna_Polak_w8lyyv.jpg" alt="Anna Polak" class="w-32 h-32 rounded-full shadow-md mb-4">
          <h2 class="text-2xl font-bold text-gray-800">Doktor Anna Polak</h2>
          <p class="text-gray-600">Dyryktorka</p>
          <p class="text-gray-700 font-semibold mt-2">Stowarzyszenie na rzecz Rozwoju Badań Historycznych i Edukacji Monumentum</p>
        </div>
        <div class="mt-4 pt-4 text-center">         
          <div class="flex flex-col items-center md:items-start">
            <p class="text-lg font-semibold mb-4 border-b border-gray-500 pb-2 w-full text-center md:text-left">Kontakt</h3>
            <div class="space-y-3 ">
                <div class="flex items-center gap-3">
                    <Phone hasIcon={true} />
                    <Phone hasIcon={false} />
                </div>
                <div class="flex items-center gap-3">
                    <Email hasIcon={true} />
                    <Email hasIcon={false} />
                </div>
                <div class="flex items-center gap-3">
                    <Facebook hasIcon={true} />
                    <Facebook hasIcon={false} />
                </div>
            </div>
        </div>
        </div>
      </div>
   
 </div>
</Layout>
