---
import { sanityClient } from "sanity:client";
import Layout from "../layouts/Layout.astro";
import { PortableText } from "astro-portabletext";
import type { PageResponse } from "../types";

// Query for the "projekty" page
const pageQuery = `*[_type == "pages" && name == "projekty"][0]{
  _id,
  title,
  description,
  keywords,
  author,
  name,
   content[] {
    ...,
    _type == "image" => {
      "url": asset->url
    }
  },
  ogImage {
    asset-> {
      url
    }
  }
}`;

// Query to fetch project slugs, titles, and images
const projectsQuery = `*[_type == "project"]{
  title,
  "slug": slug.current,
  mainImage{
      asset->{url}
    },
}`;

// Fetch the "projekty" page data
const response = await sanityClient.fetch<PageResponse>(pageQuery);

// Fetch projects list
const projects =
  await sanityClient.fetch<
    { title: string; slug: string; mainImage?: { asset?: { url: string } } }[]
  >(projectsQuery);

if (!response) {
  throw new Error("Home page not found in Sanity");
}

const {
  title = "Default Title",
  description = "Default Description",
  keywords = [],
  author = "Default Author",
  name = "Default Name",
  ogImage,
  content,
} = response || {};
---

<Layout
  title={title}
  description={description}
  keywords={keywords.join(", ")}
  author={author}
  ogImage={ogImage?.asset?.url}
>
  <div class="container my-[2rem]  lg:my-[5rem]">
    {
      projects.length === 0 ? (
        <div class="mx-auto p-6 w-full bg-white shadow-lg rounded-lg">
          <PortableText value={content ?? []} />
        </div>
      ) : (
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
          {projects.map((project) => (
            <a href={`/projekt/${project.slug}`}>
              <div class="box rounded-lg">
                {project.mainImage?.asset?.url && (
                  <img
                    src={project.mainImage.asset.url}
                    alt={project.title}
                    class="w-full h-48 object-cover rounded-lg"
                  />
                )}
                <div class="p-4">
                  <h2 class="text-xl font-semibold mb-2">{project.title}</h2>
                  <a
                    href={`/projekt/${project.slug}`}
                    class="text-blue-600 hover:underline"
                  >
                    Zobacz więcej
                  </a>
                </div>
              </div>
            </a>
          ))}
        </div>
      )
    }
  </div>
</Layout>
