---
import { Image } from "astro:assets";

interface Props {
  name: string;
  slug: string;
  photoUrl: string;
  academicTitle?:string;
  altText?: string;
}

const { name, slug, photoUrl, academicTitle, altText = `Avatar of ${name}` } = Astro.props;
---
<a href={`/team/${slug}`}>
<div class="flex items-center">
  <img
    class="w-10 h-10 rounded-full mr-1"
    src={photoUrl} 
    alt={altText} 
  />
  <div class="text-sm">
    <p class="text-gray-900 leading-none">{academicTitle?academicTitle+" ":""}{name}</p>
  </div>
</div></a>
