---
interface Props {
  imageUrl: string;
  title: string;
  description: string;
  buttonLink: string;
}

const { imageUrl, title, description, buttonLink } = Astro.props;
---

<div class="min-w-xs flex-initial">
  <div
    class="max-w-xs lg:min-w-sm bg-white rounded-lg box flex flex-col h-full"
  >
    <a href={`/blog/${buttonLink}/`}>
      <img
        class="rounded-t-lg w-full h-48 object-cover"
        src={imageUrl}
        alt={title}
      />
    </a>
    <div class="p-5 flex flex-col flex-grow">
      <a href={`/blog/${buttonLink}/`}>
        <div class="mb-5 text-xl font-bold text-gray-900">{title}</div>
      </a>

      <p class="mb-5 text-normal font-normal text-gray-700 flex-grow">
        {description}
      </p>

      <a
        href={`/blog/${buttonLink}/`}
        class="max-w-max mt-auto inline-flex items-center px-3 py-2 text-base font-bold text-center text-white rounded-lg hover:bg-red-400 focus:ring-4 focus:outline-none focus:ring-red-400 category-background"
      >
        Więcej Informacji
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
