---
import { sanityClient } from "sanity:client";

import H2Title from "./H2Title.astro";
import ShortlyCard from "./ShortlyCard.astro";
import type { Member } from "../types";

const formatDate = (dateString:string) => {
  const months = [
    "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec",
    "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"
  ];

  const date = new Date(dateString);
  const day = date.getDate().toString().padStart(2, '0'); // Двузначный день
  const month = months[date.getMonth()]; // Название месяца
  const hours = date.getHours().toString().padStart(2, '0'); // Двузначные часы
  const minutes = date.getMinutes().toString().padStart(2, '0'); // Двузначные минуты

  return `${month} ${day} ${hours}:${minutes}`;
};



interface EventsResponse {
  title: string;
  date: string;
  description: string;
  backgroundImages: string[];
  mapLink: string;
  category: string;
  attendees: Member[];
}

const query = `*[_type == "events"] {
  title,
  date,
  description,
  backgroundImages,
  mapLink,
  category,
  attendees[]->{
    name,
    "slug": slug.current,
    academicTitle,
    photoUrl
  }
}`;

const response = await sanityClient.fetch<EventsResponse[]>(query);

if (!response) {
  throw new Error("Home page not found in Sanity");
}

const events = response.map(event => ({
  title: event.title,
  date: formatDate(event.date),
  description: event.description,
  backgroundImage: event.backgroundImages[0], 
  mapLink: event.mapLink,
  attendees: event.attendees,
  category: event.category
}));

---

<div class="container mt-[4rem]">   
    <H2Title text = "nadchodzące zdarzenia"/>
    <div class="flex flex-wrap gap-4 justify-around">
        {events.map((event) => (
            <ShortlyCard 
              title={event.title} 
              date={event.date} 
              description={event.description} 
              backgroundImage={event.backgroundImage} 
              mapLink={event.mapLink} 
              attendees={event.attendees} 
              category={event.category} 
            />
          ))}
</div>
</div>
