---
import "../styles/global.css";
import '../styles/main.scss';

interface Props {
  title: string;
  description?: string;
  keywords?: string;
  author?: string;
  ogImage?: string;
  ogType?: string;
  canonicalUrl?: string;
}

const {
  title,
  description = "Default site description",
  keywords = "default, keywords",
  author = "Your Name",
  ogImage = "/default-og-image.jpg",
  ogType = "website",
  canonicalUrl = Astro.url.href,
} = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <!-- Technical Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    
    <!-- Basic SEO Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content={author} />
    <link rel="canonical" href={canonicalUrl} />
    
    <!-- Open Graph / Social Media Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:image" content={ogImage} />
    
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogImage} />
    
    <!-- Robots Meta Tags -->
    <!-- <meta name="robots" content="index, follow" /> -->
    <!-- <meta name="googlebot" content="index, follow" /> -->
	<meta name="robots" content="noindex, nofollow" />
    
    <!-- Assets -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/src/styles/main.scss" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>

